.navbar-brand {
  font-size:30px;
}




.style1 {
  padding:5px;
  
}
.style2 {
  color: white;
  text-align: center;
  background-color: grey;
  padding:10px;
 border-color: black;

}
.style3 {
  color:white;
  text-align: left;
}

.style4 {
	color: white;
}
.album-cover {
	width: 100%;
}
.album-cover1 {
	width:50%;
}
.breadcrumb {
	background-color: white;
}
